button.no-bg{
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}
.profileSocialLinks{
	/*background: red;*/
}
.profileSocialLinks ul li{
	display: inline-block;
	margin-left: 8px;
}
.profileSocialLinks ul li a{
	color: #333;
}
.watchPageDecs{
	background: #fff;
	padding: 20px 10px 20px 10px;
	border-radius: 10px;
	font-size: 17px;
	margin-top: 20px;
}