button.no-bg{
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}
.profileSocialLinks{
	/*background: red;*/
}
.profileSocialLinks ul li{
	display: inline-block;
	margin-left: 8px;
}
.profileSocialLinks ul li a{
	color: #333;
}