button.no-bg{
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
}
.profileSocialLinks{
	/*background: red;*/
}
.profileSocialLinks ul li{
	display: inline-block;
	margin-left: 8px;
}
.profileSocialLinks ul li a{
	color: #333;
}
.watchPageDecs{
	background: #fff;
	padding: 20px 10px 20px 10px;
	border-radius: 10px;
	font-size: 17px;
	margin-top: 20px;
}
.thanksContainer{
	border-radius: 12px;
	padding: 30px 20px 30px 20px;
}
.thanksContainer .hooray{
	width: 150px;
}
.thanksContainer .title{
	font-weight: 600;
	font-size: 22px;
	margin-top: 13px;
	color: #555;
}
.btn-finish-course{
	border-radius: 30px;
}
.pagination{
	padding-left: 25px;
}
.pagination span svg{
	width: 20px;
}
.pagination p.leading-5{
	margin-top: 10px;
}